@model Users

    <h1>Registration</h1>
    <form action = "register" method="post">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"><br>

        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"><br>

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>
        
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>

        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm"><br>

        <input value="Add User" type="submit">    
    </form>