@model Wedding

        <h1>Add Wedding</h1>
        <form action = "new" method="post">

            <span asp-validation-for="WeddingOne"></span>
            <label asp-for="WeddingOne"></label>
            <input asp-for="WeddingOne"><br>
            
            <span asp-validation-for="WeddingTwo"></span>
            <label asp-for="WeddingTwo"></label>
            <input asp-for="WeddingTwo"><br>
            
            <span asp-validation-for="Date"></span>
            <label asp-for="Date"></label>
            <input type = "Date" asp-for="Date"><br>

            <span asp-validation-for="WeddingAddress"></span>
            <label asp-for="WeddingAddress"></label>
            <input asp-for="WeddingAddress"><br>


            <input value="Add" type="submit">    
        </form>